// Place all the styles related to the Courts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container {
	border: solid 4px black;
}

.player h2 {
	
	float: right; 
	padding-right: 5em;
	font-size: 2em; 
	border: solid 4px black;
	color: white;
	    text-shadow:
	    -1px -1px 0 #000,
	    1px -1px 0 #000,
	    -1px 1px 0 #000,
	    1px 1px 0 #000;
}

.name h2 {
	border: solid 4px black; 
	padding-left: 5em;
	font-size: 2em;
	color: white;
	    text-shadow:
	    -1px -1px 0 #000,
	    1px -1px 0 #000,
	    -1px 1px 0 #000,
	    1px 1px 0 #000;
}

.names h5 {
	font-size: 1.2em;	
	border: solid 4px black;
	padding-left: 5em;
	width: 45%;
	color: white;
	    text-shadow:
	    -1px -1px 0 #000,
	    1px -1px 0 #000,
	    -1px 1px 0 #000,
	    1px 1px 0 #000;
}

.players h5 {
	float: right;
	padding-right: 5.5em;
	font-size: 1.2em;
	border: solid 4px black;
	width: 30%;
	color: white;
	    text-shadow:
	    -1px -1px 0 #000,
	    1px -1px 0 #000,
	    -1px 1px 0 #000,
	    1px 1px 0 #000;

}